li {
    display: inline;
}
.ul {
    background-color: #f1adadef;
}
.ul a:hover {
    background-color: #706565be;
    color: black;
}
.ul a.active {
    background-color: #6b040b;
    color: white;
}